services:
  postgres-test:
    image: postgres:15
    container_name: postgres-test
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres-test-data:/var/lib/postgresql/data
  pr-assignment-service:
    build:
      dockerfile: Dockerfile
      context: .
    env_file: .env.test
    restart: unless-stopped
    ports:
      - "6060:6060"

volumes:
  postgres-test-data: